.header-color {
  background: #833ab4;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #fcb045, #fd1d1d, #833ab4);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #fcb045, #fd1d1d, #833ab4); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.material-icons {
  color: transparent;
} 

.menuLine{
  width: 15px;
  height: 2px;
  background-color: white;
  margin: 6px 0;
  position: absolute;
  left: 35px;
  top: 21px;
}
.menuLine1{
  width: 15px;
  height: 2px;
  background-color: white;
  margin: 6px 0;
  position: absolute;
  left: 35px;
  top: 26px;
}
.menuLine2{
  width: 15px;
  height: 2px;
  background-color: white;
  margin: 6px 0;
  position: absolute;
  left: 35px;
  top: 31px;
}
.landing-grid {
  /* background: #833ab4;  fallback for old browsers */
  background-image: url("./images/my.jpg");
  /* background: linear-gradient(to right, #fcb045, #fd1d1d, #833ab4); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  text-align: center;
  position: fixed;
  left: 0;
  width: 100% ;
  height: 100%;
  min-height: calc(100vh - 66px);
  background-repeat: no-repeat;
  background-size: 100%;
  object-fit:contain;   
}
.Project{
  margin: 0 auto;
  text-align: center;
  border: solid rgb(170, 206, 207);
  width: 80%;
  height: 90%;
  background-color: rgb(207, 222, 236);
  padding: 20px;
  box-shadow: 10px 5px  rgb(223, 226, 226);
  margin-top: 2rem
}
.line2{
  margin: 0 auto;
  border: 2px solid salmon;
  width: 80px;
}
@media only screen and (max-width:768px){
  .header-color {
    background: #833ab4;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #fcb045, #fd1d1d, #833ab4);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #fcb045, #fd1d1d, #833ab4); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
  }
  .none{
    display: none;
  }
  .landing-grid {
    background-image: url("./images/new.jpg");
    /* background: linear-gradient(to right, #fcb045, #fd1d1d, #833ab4); W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    text-align: center;
    position: fixed;
    left: 0;
    width: 100% ;
    height: 100%;
    min-height: calc(100vh - 66px);
    background-repeat: no-repeat;
    background-size: cover;
    object-fit:contain;   
  }
  .projects-grid {
    display: flex;
    justify-content: flex-start;
    max-height: 100px;
    min-width: 100px;
    }
    .project-cell{
      margin: 1rem
    }
    .menuLine{
      width: 15px;
      height: 2px;
      background-color: white;
      margin: 6px 0;
      position: absolute;
      left: 25px;
      top: 16px;
    }
    .menuLine1{
      width: 15px;
      height: 2px;
      background-color: white;
      margin: 6px 0;
      position: absolute;
      left: 25px;
      top: 21px;
    }
    .menuLine2{
      width: 15px;
      height: 2px;
      background-color: white;
      margin: 6px 0;
      position: absolute;
      left: 25px;
      top: 26px;
    }

    .mdl-card {
      max-width: fit-content;
      top: 180px;
  }

  .projects-grid {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  .Project{
    min-height: 100%;
  }  
  
}

.projects-grid {
  display: flex;
  justify-content: center;
}
.project-cell{
  margin: 5rem;
 
}

/* Resume Page css */
.resume-right-col {
  background: #27221F;
  color: white;
  padding: 2em;
}



.Project{
  margin: 0 auto;
  text-align: center;
  border: solid #76f1d3;
  width: 80%;
  height: 80%;
  background-color: #45fcce;
  padding: 20px;
  box-shadow: 7px 5px  rgb(223, 226, 226);
  margin-top: 2rem
}
.projects{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 2rem;
}


